.hud {
  --dark-green: rgb(14, 108, 41);
  --darkest-green: rgb(5, 60, 20);
  --text-white: #e1e1e1;
  position: absolute;
  padding: 0.5rem;
  height: 100%;
  width: 100%;
  color: white;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.hud__row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.hud__row--bottom {
  justify-content: flex-end;
}

.hud__element {
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  height: 38px;
  padding: 6px;
  padding-inline: 12px;
}

.hud__element--stretch {
  padding-left: auto;
  max-width: 50%;
  flex-grow: 1;
}

@media (max-width: 640px) {
  .hud__element--stretch {
    max-width: 100%;
    width: 100%;
  }
}

.hud__element--justify-end {
  justify-content: flex-end;
}

.uppercase {
  text-transform: uppercase;
}


.hud__board {
  flex-grow: 1;
}

.hud__center {
  display: flex;
  margin-top: auto;
  align-items: flex-end;
  justify-content: space-between;
}

@media (orientation: portrait) {
  .hud__center {
    flex-direction: column-reverse;
    margin-top: 0;
    align-items: center;
    flex-grow: 1;
  }

  .chip-select {
    justify-self: end;
  }
}

.btn--disabled {
  cursor: alias;
  pointer-events: none;
}
