.field-icon {
  width: 32px;
  text-align: center;
  margin-inline: 1px;
}

.field-icon:first-of-type {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.field-icon:last-of-type {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.field-icon--red {
  background-color: red;
}

.field-icon--black {
  background-color: black;
}
