.chip-select {
  box-shadow: inset 0px 0px 10px 5px rgb(0, 124, 66);
  background-color: rgb(0, 231, 116);
  display: flex;
  width: min-content;
  flex-direction: column;
  padding: 10px;
  border-radius: 6px;
  gap: 1rem;
}
