.board {
  display: grid;
  flex-basis: min(90%, 800px);
  aspect-ratio: 4;
  grid-template-columns: repeat(56, 1fr);
  grid-template-rows: repeat(18, 1fr);
  font-weight: 400;
  font-size: clamp(0.8rem, 2vw, 1.4rem);
  text-transform: uppercase;
  padding: 4px;
  border-radius: 4px;
  transition: transform 800ms;
}

.board__container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  perspective: 1600px;
}

.board--active {
  transform: rotateX(45deg) scale(0.8);
}

.board__field {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #eaeaea;
}

.hover:is(.red-field) {
  background-color: red;
}

.hover:is(.green-field) {
  background-color: green;
}

.hover:is(.black-field) {
  background-color: black;
}

.board__field:hover {
  cursor: pointer;
}

.green-field {
  background-color: rgb(80, 110, 60);
}

.red-field {
  background-color: rgb(191, 64, 64);
}

.black-field {
  background-color: rgb(63, 63, 63);
}
