.board [data-value="line_1-6"] {
  grid-area: 12/8/14/10;
}
.board [data-value="line_4-9"] {
  grid-area: 12/12/14/14;
}
.board [data-value="line_7-12"] {
  grid-area: 12/16/14/18;
}
.board [data-value="line_10-15"] {
  grid-area: 12/20/14/22;
}
.board [data-value="line_13-18"] {
  grid-area: 12/24/14/26;
}
.board [data-value="line_16-21"] {
  grid-area: 12/28/14/30;
}
.board [data-value="line_19-24"] {
  grid-area: 12/32/14/34;
}
.board [data-value="line_22-27"] {
  grid-area: 12/36/14/38;
}
.board [data-value="line_25-30"] {
  grid-area: 12/40/14/42;
}
.board [data-value="line_28-33"] {
  grid-area: 12/44/14/46;
}
.board [data-value="line_31-36"] {
  grid-area: 12/48/14/50;
}

@media (orientation: portrait) {
  .board:not(.board--tilted) [data-value="line_1-6"] {
    grid-area: 8/12/10/14;
  }
  .board:not(.board--tilted) [data-value="line_4-9"] {
    grid-area: 12/12/14/14;
  }
  .board:not(.board--tilted) [data-value="line_7-12"] {
    grid-area: 16/12/18/14;
  }
  .board:not(.board--tilted) [data-value="line_10-15"] {
    grid-area: 20/12/22/14;
  }
  .board:not(.board--tilted) [data-value="line_13-18"] {
    grid-area: 24/12/26/14;
  }
  .board:not(.board--tilted) [data-value="line_16-21"] {
    grid-area: 28/12/30/14;
  }
  .board:not(.board--tilted) [data-value="line_19-24"] {
    grid-area: 32/12/34/14;
  }
  .board:not(.board--tilted) [data-value="line_22-27"] {
    grid-area: 36/12/38/14;
  }
  .board:not(.board--tilted) [data-value="line_25-30"] {
    grid-area: 40/12/42/14;
  }
  .board:not(.board--tilted) [data-value="line_28-33"] {
    grid-area: 44/12/46/14;
  }
  .board:not(.board--tilted) [data-value="line_31-36"] {
    grid-area: 48/12/50/14;
  }
}
