.board [data-value="split_1-2"] {
  grid-area: 8/6/10/8;
}

.board [data-value="split_2-3"] {
  grid-area: 4/6/6/8;
}

.board [data-value="split_4-5"] {
  grid-area: 8/10/10/12;
}

.board [data-value="split_5-6"] {
  grid-area: 4/10/6/12;
}

.board [data-value="split_7-8"] {
  grid-area: 8/14/10/16;
}

.board [data-value="split_8-9"] {
  grid-area: 4/14/6/16;
}

.board [data-value="split_10-11"] {
  grid-area: 8/18/10/20;
}

.board [data-value="split_11-12"] {
  grid-area: 4/18/6/20;
}

.board [data-value="split_13-14"] {
  grid-area: 8/22/10/24;
}

.board [data-value="split_14-15"] {
  grid-area: 4/22/6/24;
}

.board [data-value="split_16-17"] {
  grid-area: 8/26/10/28;
}

.board [data-value="split_17-18"] {
  grid-area: 4/26/6/28;
}
.board [data-value="split_19-20"] {
  grid-area: 8/30/10/32;
}
.board [data-value="split_20-21"] {
  grid-area: 4/30/6/32;
}
.board [data-value="split_22-23"] {
  grid-area: 8/34/10/36;
}
.board [data-value="split_23-24"] {
  grid-area: 4/34/6/36;
}
.board [data-value="split_25-26"] {
  grid-area: 8/38/10/40;
}
.board [data-value="split_26-27"] {
  grid-area: 4/38/6/40;
}
.board [data-value="split_28-29"] {
  grid-area: 8/42/10/44;
}
.board [data-value="split_29-30"] {
  grid-area: 4/42/6/44;
}
.board [data-value="split_31-32"] {
  grid-area: 8/46/10/48;
}
.board [data-value="split_32-33"] {
  grid-area: 4/46/6/48;
}
.board [data-value="split_34-35"] {
  grid-area: 8/50/10/52;
}
.board [data-value="split_35-36"] {
  grid-area: 4/50/6/52;
}

.board [data-value="split_1-4"] {
  grid-area: 10 /8/ 12 /10;
}

.board [data-value="split_2-5"] {
  grid-area: 6 /8/ 8 /10;
}

.board [data-value="split_3-6"] {
  grid-area: 2 /8/ 4 /10;
}

.board [data-value="split_4-7"] {
  grid-area: 10/ 12 /12/ 14;
}

.board [data-value="split_5-8"] {
  grid-area: 6 / 12 /8/ 14;
}

.board [data-value="split_6-9"] {
  grid-area: 2/ 12 /4/14;
}

.board [data-value="split_7-10"] {
  grid-area: 10/ 16 /12/ 18;
}

.board [data-value="split_8-11"] {
  grid-area: 6 / 16 /8/ 18;
}

.board [data-value="split_9-12"] {
  grid-area: 2/ 16 /4/ 18;
}

.board [data-value="split_10-13"] {
  grid-area: 10/ 20 /12/ 22;
}

.board [data-value="split_11-14"] {
  grid-area: 6 / 20 /8/ 22;
}

.board [data-value="split_12-15"] {
  grid-area: 2/ 20 /4 / 22;
}

.board [data-value="split_13-16"] {
  grid-area: 10/ 24 /12/ 26;
}

.board [data-value="split_14-17"] {
  grid-area: 6 / 24 /8/26;
}

.board [data-value="split_15-18"] {
  grid-area: 2/ 24 /4/26;
}

.board [data-value="split_16-19"] {
  grid-area: 10/ 28 /12/ 30;
}

.board [data-value="split_17-20"] {
  grid-area: 6 / 28 /8/ 30;
}

.board [data-value="split_18-21"] {
  grid-area: 2/ 28 /4/30;
}

.board [data-value="split_19-22"] {
  grid-area: 10/ 32/12/ 34;
}

.board [data-value="split_20-23"] {
  grid-area: 6 /32 /8/ 34;
}

.board [data-value="split_21-24"] {
  grid-area: 2/32/4/34;
}

.board [data-value="split_22-25"] {
  grid-area: 10/ 36 /12/ 38;
}

.board [data-value="split_23-26"] {
  grid-area: 6 / 36 /8/ 38;
}

.board [data-value="split_24-27"] {
  grid-area: 2/ 36 /4/38;
}

.board [data-value="split_25-28"] {
  grid-area: 10/ 40 /12/ 42;
}

.board [data-value="split_26-29"] {
  grid-area: 6 / 40 /8/ 42;
}

.board [data-value="split_27-30"] {
  grid-area: 2/40/4/42;
}

.board [data-value="split_28-31"] {
  grid-area: 10/ 44 /12/ 46;
}

.board [data-value="split_29-32"] {
  grid-area: 6 / 44 /8/ 46;
}

.board [data-value="split_30-33"] {
  grid-area: 2/ 44 /4/46;
}

.board [data-value="split_31-34"] {
  grid-area: 10/ 48 /12/ 50;
}

.board [data-value="split_32-35"] {
  grid-area: 6 / 48 /8/ 50;
}

.board [data-value="split_33-36"] {
  grid-area: 2/ 48 /4/50;
}

@media (orientation: portrait) {
  .board [data-value="split_1-2"] {
    grid-area: 6/8/8/10;
  }

  .board [data-value="split_2-3"] {
    grid-area: 6/4/8/6;
  }

  .board [data-value="split_4-5"] {
    grid-area: 10/8/12/10;
  }

  .board [data-value="split_5-6"] {
    grid-area: 10/4/12/6;
  }

  .board [data-value="split_7-8"] {
    grid-area: 14/8/16/10;
  }

  .board [data-value="split_8-9"] {
    grid-area: 14/4/16/6;
  }

  .board [data-value="split_10-11"] {
    grid-area: 18/8/20/10;
  }

  .board [data-value="split_11-12"] {
    grid-area: 18/4/20/6;
  }

  .board [data-value="split_13-14"] {
    grid-area: 22/8/24/10;
  }

  .board [data-value="split_14-15"] {
    grid-area: 22/4/24/6;
  }

  .board [data-value="split_16-17"] {
    grid-area: 26/8/28/10;
  }

  .board [data-value="split_17-18"] {
    grid-area: 26/4/28/6;
  }
  .board [data-value="split_19-20"] {
    grid-area: 30/8/32/10;
  }
  .board [data-value="split_20-21"] {
    grid-area: 30/4/32/6;
  }
  .board [data-value="split_22-23"] {
    grid-area: 34/8/36/10;
  }
  .board [data-value="split_23-24"] {
    grid-area: 34/4/36/6;
  }
  .board [data-value="split_25-26"] {
    grid-area: 38/8/40/10;
  }
  .board [data-value="split_26-27"] {
    grid-area: 38/4/40/6;
  }
  .board [data-value="split_28-29"] {
    grid-area: 42/8/44/10;
  }
  .board [data-value="split_29-30"] {
    grid-area: 42/4/44/6;
  }
  .board [data-value="split_31-32"] {
    grid-area: 46/8/48/10;
  }
  .board [data-value="split_32-33"] {
    grid-area: 46/4/48/6;
  }
  .board [data-value="split_34-35"] {
    grid-area: 50/8/52/10;
  }
  .board [data-value="split_35-36"] {
    grid-area: 50/4/52/6;
  }

  .board [data-value="split_1-4"] {
    grid-area: 8/10/10/12;
  }

  .board [data-value="split_2-5"] {
    grid-area: 8/6/10/8;
  }

  .board [data-value="split_3-6"] {
    grid-area: 8/2/10/4;
  }

  .board [data-value="split_4-7"] {
    grid-area: 12/10/14/12;
  }

  .board [data-value="split_5-8"] {
    grid-area: 12/6/14/8;
  }

  .board [data-value="split_6-9"] {
    grid-area: 12/2/14/4;
  }

  .board [data-value="split_7-10"] {
    grid-area: 16/10/18/12;
  }

  .board [data-value="split_8-11"] {
    grid-area: 16/6/18/8;
  }

  .board [data-value="split_9-12"] {
    grid-area: 16/2/18/4;
  }

  .board [data-value="split_10-13"] {
    grid-area: 20/10/22/12;
  }

  .board [data-value="split_11-14"] {
    grid-area: 20/6/22/8;
  }

  .board [data-value="split_12-15"] {
    grid-area: 20/2/22/4;
  }

  .board [data-value="split_13-16"] {
    grid-area: 24/10/26/12;
  }

  .board [data-value="split_14-17"] {
    grid-area: 24/6/26/8;
  }

  .board [data-value="split_15-18"] {
    grid-area: 24/2/26/4;
  }

  .board [data-value="split_16-19"] {
    grid-area: 28/10/30/12;
  }

  .board [data-value="split_17-20"] {
    grid-area: 28/6/30/8;
  }

  .board [data-value="split_18-21"] {
    grid-area: 28/2/30/4;
  }

  .board [data-value="split_19-22"] {
    grid-area: 32/10/34/12;
  }

  .board [data-value="split_20-23"] {
    grid-area: 32/6/34/8;
  }

  .board [data-value="split_21-24"] {
    grid-area: 32/2/34/4;
  }

  .board [data-value="split_22-25"] {
    grid-area: 36/10/38/12;
  }

  .board [data-value="split_23-26"] {
    grid-area: 36/6/38/8;
  }

  .board [data-value="split_24-27"] {
    grid-area: 36/2/38/4;
  }

  .board [data-value="split_25-28"] {
    grid-area: 40/10/42/12;
  }

  .board [data-value="split_26-29"] {
    grid-area: 40/6/42/8;
  }

  .board [data-value="split_27-30"] {
    grid-area: 40/2/42/4;
  }

  .board [data-value="split_28-31"] {
    grid-area: 44/10/46/12;
  }

  .board [data-value="split_29-32"] {
    grid-area: 44/6/46/8;
  }

  .board [data-value="split_30-33"] {
    grid-area: 44/2/46/4;
  }

  .board [data-value="split_31-34"] {
    grid-area: 48/10/50/12;
  }

  .board [data-value="split_32-35"] {
    grid-area: 48/6/50/8;
  }

  .board [data-value="split_33-36"] {
    grid-area: 48/2/50/4;
  }
}
