.board [data-value="street_1-3"] {
  grid-area: 12/6/14/8;
}
.board [data-value="street_4-6"] {
  grid-area: 12 /10/14/12;
}
.board [data-value="street_7-9"] {
  grid-area: 12 /14/14/16;
}
.board [data-value="street_10-12"] {
  grid-area: 12 /18/14/20;
}
.board [data-value="street_13-15"] {
  grid-area: 12 /22/14/24;
}
.board [data-value="street_16-18"] {
  grid-area: 12 /26/14/28;
}
.board [data-value="street_19-21"] {
  grid-area: 12 /30/14/32;
}
.board [data-value="street_22-24"] {
  grid-area: 12 /34/14/36;
}
.board [data-value="street_25-27"] {
  grid-area: 12 /38/14/40;
}
.board [data-value="street_28-30"] {
  grid-area: 12 /42/14/44;
}
.board [data-value="street_31-33"] {
  grid-area: 12 /46/14/48;
}
.board [data-value="street_34-36"] {
  grid-area: 12 /50/14/52;
}

@media (orientation: portrait) {
  .board [data-value="street_1-3"] {
    grid-area: 6 / 12 /8/ 14;
  }
  .board [data-value="street_4-6"] {
    grid-area: 10 / 12 /12/ 14;
  }
  .board [data-value="street_7-9"] {
    grid-area: 14 / 12 /16/ 14;
  }
  .board [data-value="street_10-12"] {
    grid-area: 18 / 12 /20/ 14;
  }
  .board [data-value="street_13-15"] {
    grid-area: 22 / 12 /24/ 14;
  }
  .board [data-value="street_16-18"] {
    grid-area: 26 / 12 /28/ 14;
  }
  .board [data-value="street_19-21"] {
    grid-area: 30 / 12 /32/ 14;
  }
  .board [data-value="street_22-24"] {
    grid-area: 34 / 12 /36/ 14;
  }
  .board [data-value="street_25-27"] {
    grid-area: 38 / 12 /40/ 14;
  }
  .board [data-value="street_28-30"] {
    grid-area: 42 / 12 /44/ 14;
  }
  .board [data-value="street_31-33"] {
    grid-area: 46 / 12 /48/ 14;
  }
  .board [data-value="street_34-36"] {
    grid-area: 50 / 12 /52/ 14;
  }
}
