.chip {
  width: clamp(20px, 3vw, 40px);
}

.chip--selected {
  scale: 1.2;
}

.chip:not(.chip--selected) :hover {
  scale: 1.2;
  cursor: pointer;
}

.board__field[data-value="0"] .chip-icon {
  width: 100%;
}
.chip-icon {
  position: absolute;
  aspect-ratio: 1;
  z-index: 50;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(193, 68, 193);
  font-weight: bolder;
  font-size: 80%;
  pointer-events: none;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.chip-icon:is([data-value="1"]) {
  background-image: url("/public/chip-one-blank.svg");
}

.chip-icon:is([data-value="5"]) {
  background-image: url("/public/chip-five-blank.svg");
}

.chip-icon:is([data-value="10"]) {
  background-image: url("/public/chip-ten-blank.svg");
}

.chip-icon:is([data-value="50"]) {
  background-image: url("/public/chip-fifty-blank.svg");
}

.chip-icon:is([data-value="100"]) {
  background-image: url("/public/chip-hundred-blank.svg");
}

.chip-icon:is(.winning) {
  animation-name: chips-move-win;
  animation-duration: 3s;
}

.losing {
  animation-name: chipsmovelose;
  animation-duration: 3s;
}

@keyframes chips-move-win {
  to {
    transform: translate(-200px, -700px);
  }
}

@keyframes chipsmovelose {
  to {
    transform: translateY(700px);
  }
}
