.chip {
  width: clamp(20px, 3vw, 40px);
}

.chip--selected {
  border: 3px solid yellow;
  border-radius: 100%;
  scale: 1.2;
}

.chip:not(.chip--selected):hover {
  scale: 1.2;
  cursor: pointer;
}

.chip-icon {
  --RESULT-SHOWCASE-TIME: 4s;
  position: absolute;
  z-index: 50;
  height: max(4vh, 2vw);
  width: max(4vh, 2vw);
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bolder;
  font-size: 1rem;
  pointer-events: none;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  animation-duration: var(--RESULT-SHOWCASE-TIME);
}

@media (orientation: portrait) {
  .board--tilted .chip-icon {
    width: 3vw;
    font-size: 10px;
    height: 3vw;
  }
}

.chip-icon:is([data-value="1"]) {
  background-image: url("/public/chip-one-blank.svg");
}

.chip-icon:is([data-value="5"]) {
  background-image: url("/public/chip-five-blank.svg");
}

.chip-icon:is([data-value="10"]) {
  background-image: url("/public/chip-ten-blank.svg");
}

.chip-icon:is([data-value="50"]) {
  background-image: url("/public/chip-fifty-blank.svg");
}

.chip-icon:is([data-value="100"]) {
  background-image: url("/public/chip-hundred-blank.svg");
}

.win-animation {
  animation-name: chips-move-win;
}

.lose-animation {
  animation-name: chips-move-lose;
}

@keyframes chips-move-win {
  to {
    transform: translate(-200px, -700px);
  }
}

@keyframes chips-move-lose {
  to {
    transform: translateY(700px);
  }
}
