.dolly {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/dolly.svg");
  background-position: center;
  background-repeat: no-repeat;
  z-index: 999;
  position: relative;
  animation: 500ms dolly-enter ease-in;
}

@keyframes dolly-enter {
  from {
    scale: 3;
  }
  to {
    scale: 1;
  }
}
